* {
  margin: 0;
  padding: 0;
}


.App {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/bg.jpeg');
  background-size: 100% 100%; /* Stretch the image to fit the container */
  background-position: center center;
  background-repeat: no-repeat;
}




.tap_here {
  display: inline-block;
  top: 5rem;
  padding: 20px 80px;
  background-color: #512b14;  /* Blue background */
  border-radius: 25px;  /* Rounded corners */
  cursor: pointer;
  position: relative;
  color: white;
  /* top: 45%; */
  margin-top: 5%;
  transition: all 0.3s ease;
  box-shadow: 30px;  

}
.content a{
  color: white !important;
  text-decoration: none;
  font-size: 25px;
}


