* {
  margin: 0;
  padding: 0;
}


.App {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/Hornbill_Standee.jpg');
  background-size: cover; 
  /* background-position: center; */
  background-repeat: no-repeat;
}


.tap_here {
  display: inline-block;
  font-size: 20px;
  top: 5rem;
  padding: 20px 80px;
  background-color: #512b14;  /* Blue background */
  border-radius: 25px;  /* Rounded corners */
  cursor: pointer;
  position: relative;
  color: white;
  top: 25%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
}
.content a{
  color: white !important;
  text-decoration: none;
}


